/* font-family: 'Concert One', cursive;
font-family: 'Lato', sans-serif; */




.navbar {
    background-color: rgb(255, 255, 255);
    height: 150px;
}

.navbar img {
    margin-top: -20px;
}

.row img {
    margin-left: 86px;
    vertical-align: middle;
    margin-top: 26px;
}

.jumbotron-fluid  {
    margin-top: 98px;
    margin-left: 50px;
    
}

.btn-primary {
    color: #ffffff;
    background-color: #96c3ca;
    border-color: #96c3ca;
    transition: all .2s ease-in-out; 
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #759faa;
    border-color: #759faa;
}

/* .btn-primary {
    color: #ffffff;
    background-color: #5d9fd1!important;
    border-color: #5d9fd1;
} */


h1, .h1 {
    width: 433px;
    font-size: 39px;
    color: #96c3ca;
}

h1 {
    font-family: 'Concert One', cursive;
}

h6, .h6 {
    margin-top: -30px;
    margin-right: 85px;
    font-size: 9px;
    text-align: right;
    

}



p {
    font-family: 'Lato', sans-serif; 
}

#texto {
    background-image: url(images/mic.png);
    background-size: 30%;
    opacity: 0.4;
}

/* li {
    color: red;
    margin-right: 40px;
} */


.nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
    
}






.fab:hover {
    color: #759faa;
    transform: scale(1.6);
    font-size: 1.5em;
    margin-top: 45px;
    margin-right: 30px;
}

.fab {
    color: #96c3ca;
    font-size: 1.5em;
    margin-top: 45px;
    margin-right: 30px;
    transition: all .2s ease-in-out; 
    
}


.fab:hover {
    color: #759faa;
    transform: scale(1.6);
    font-size: 1.5em;
    margin-top: 45px;
    margin-right: 30px;
}